import { Meta, Story, Preview } from '@storybook/addon-docs/blocks';
import { {{ properCase name }} } from './index';

<Meta title="MDX/{{ properCase name }}" component={ {{ properCase name }} } />

# {{ properCase name }}

With `MDX` we can define a story for `{{ properCase name }}` right in the middle of our
markdown documentation.

<Preview>
  <Story name="all checkboxes">
    <form>
      <{{ properCase name }} />
    </form>
  </Story>
</Preview>
